.calculadora{
    overflow: hidden;
    font-size: 50px;
    height: 600px;
    width: 400px;
    border-color: black;
    border-radius: 15px;
    background-color: lightgray;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr repeat(5, 16%);

}
